/* 프리텐다드 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
/* 노멀라이즈 시작 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
} /* 노멀라이즈 끝 */
img {
  width: 100%;
  height: 100%;
  display: block;
} /* html 기본 설정 */
html {
  font-family: "pretendard", sans-serif;
  font-size: max(0.52083333vw, 10px);
  overflow-x: hidden;
}
body {
  background-color: var(--background-color);
  color: #fff;
}
/* 헤더 시작 */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2rem);
  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
  will-change: transform;
}
.top-bar .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--maxwidth);
  margin: 0 auto;
  box-sizing: border-box;
}
.top-bar .container .text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11rem;
}
.top-bar .container .text-box a {
  display: flex;
  position: relative;
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: 1rem;
  letter-spacing: -0.02rem;
  box-sizing: border-box;
  transition: all 0.3s;
}
.top-bar .container .text-box a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--point-color-2);
  width: 100%;
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
.top-bar .container .text-box a:hover::after {
  transform: scaleX(1);
}
.top-bar .container .text-box a:hover {
  color: var(--point-color-2);
}
.top-bar .logo-box img {
  width: 24rem;
}
/* 헤더 끝 */
.sec-1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sec-1 .back-vi {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.sec-1 .back-vi::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.sec-1 .back-vi video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-1 .text-box {
  margin: 0 auto;
  width: 100%;
  max-width: var(--maxwidth);
}
.sec-1 .text-box p {
  font-weight: 700;
}
.sec-1 .text-box p:nth-child(1) {
  margin-bottom: 4rem;
  font-size: 4.8rem;
}
.sec-1 .text-box p:nth-child(2) {
  font-size: 6.4rem;
}
/* 섹션2 시작 */
.sec-2 {
  padding: 15rem;
}
.sec-2-grid {
  max-width: var(--maxwidth);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-2-grid .text-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: fit-content;
}
.sec-2-grid .text-box h2 {
  font-size: 8rem;
  color: var(--point-color);
  font-weight: 700;
}
.sec-2-grid .text-box p {
  font-size: 4.8rem;
  font-weight: 400;
}
.sec-2-grid .text-box .button-box {
  border: 1px solid #fff;
  width: fit-content;
  height: fit-content;
  border-radius: 4rem;
  padding: 2rem 5rem;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.sec-2-grid .text-box .button-box::before {
  content: "";
  background-color: #fff;
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s ease;
  z-index: 0;
}
.sec-2-grid .sec-2-scroll-text {
  position: relative;
  z-index: 0;
  --hlw: 0px;
}
.sec-2-grid .sec-2-scroll-text::before {
  content: "";
  position: absolute;
  left: -0.6rem;
  bottom: 0.1rem;
  width: var(--hlw);
  height: 4.8rem;
  background: #ff8d28;
  z-index: -1;
  pointer-events: none;
}
.sec-2-grid .text-box .button-box:hover::before {
  transform: scaleX(1);
}
.sec-2-grid .text-box a {
  width: fit-content;
  height: fit-content;
}
.sec-2-grid .text-box .button-box:hover span {
  color: #111;
}
.sec-2-grid .text-box .button-box span {
  font-size: 2.5rem;
  font-weight: 400;
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 400;
  transition: color 0.5s;
}
.sec-2-grid .img-box {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: start;
}
.sec-2-grid .img-box .img-left-box {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  padding-right: 2rem;
}
.sec-2-grid .img-box .img-left-box .img-left {
  position: relative;
  width: 39.1rem;
  height: 40.9rem;
}
.sec-2-grid .img-box .img-left-box .img-left-1 {
  width: 39.1rem;
  height: 40.9rem;
}
.sec-2-grid .img-box .img-left-box .img-left-2 {
  width: 49.3rem;
  height: 26.6rem;
}
.sec-2-grid .img-box .img-left-box .img-left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5rem;
  transition: all 0.3s;
}
.sec-2-grid .img-box .img-left-box .img-left:hover .hover-text-box,
.sec-2-grid .img-box .img-left-box .img-left:hover::before {
  opacity: 1;
  visibility: visible;
}
.sec-2-grid .img-box .img-left-box .img-left .hover-text-box {
  text-align: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sec-2-grid .img-box .img-left-box .img-left .hover-text-box span {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
}
.sec-2-grid .img-box .img-left-box .img-left .hover-text-box p {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
}
.sec-2-grid .img-box .img-right-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5rem;
}
.sec-2-grid .img-box .img-right-box .img-right {
  position: relative;
  width: 39.1rem;
  height: 40.9rem;
}
.sec-2-grid .img-box .img-right-box .img-right-1 {
  width: 41.5rem;
  height: 24.2rem;
}
.sec-2-grid .img-box .img-right-box .img-right-2 {
  width: 40rem;
  height: 43.6rem;
}
.sec-2-grid .img-box .img-right-box .img-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5rem;
  transition: all 0.3s;
}
.sec-2-grid .img-box .img-right-box .img-right:hover .hover-text-box,
.sec-2-grid .img-box .img-right-box .img-right:hover::before {
  opacity: 1;
  visibility: visible;
}
.sec-2-grid .img-box .img-right-box .img-right .hover-text-box {
  text-align: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sec-2-grid .img-box .img-right-box .img-right .hover-text-box span {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
}
.sec-2-grid .img-box .img-right-box .img-right .hover-text-box p {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
}
.sec-2-grid .img-box img {
  border-radius: 5rem;
}
/* 섹션2 끝 */
/* 섹션3 시작 */
.sec-3 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 6;
}
.sec-3 .content-wrap {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.sec-3 .bg-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-3 .bg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transform: scale(0.6);
}
.sec-3 .bg-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  pointer-events: none;
}
.sec-3-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 40rem;
  overflow: hidden;
  text-align: center;
  z-index: 7;
}
.sec-3-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  pointer-events: none;
  font-size: 6.4rem;
  font-weight: 700;
  text-align: center;
}
/* 섹션3 끝 */
/* 섹션 4 시작 */
.sec-4-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding: 15rem 0;
}
.sec-4-grid .title-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec-4-grid .title-text-box h2 {
  font-size: 3.2rem;
  font-weight: 700;
}
.sec-4-grid .title-text-box p {
  font-size: 4.8rem;
  font-weight: 400;
}
.sec-4-grid .tab-box .tab-btn {
  display: flex;
  gap: 0.8rem;
  padding-top: 2rem;
}
.sec-4-grid .tab-box .tab-btn li {
  padding: 0 0.8rem;
}
.sec-4-grid .tab-box .tab-btn li.active {
  padding-bottom: 1.2rem;
  border-bottom: 0.3rem solid var(--point-color-2);
}
.sec-4-grid .tab-box .tab-btn li.active a span {
  color: var(--point-color-2);
  font-weight: 700;
}
.sec-4-grid .tab-box .tab-btn li a {
  display: block;
  width: 100%;
  height: 100%;
}
.sec-4-grid .tab-box .tab-btn li a span {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 2.6rem;
  font-weight: 500;
}
.sec-4-grid .tab-list-box {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1.6rem);
  transition:
    max-height 0.6s,
    opacity 0.6s,
    transform 0.6s;
}
.sec-4-grid .tab-list-box.active {
  max-height: fit-content;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.sec-4-grid .tab-list {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 2rem 0;
}
.sec-4-grid .tab-list .text-box h2 {
  font-size: 4.2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.sec-4-grid .tab-list .text-box p {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.5;
}
.sec-4-grid .tab-list .img-box {
  width: 47.3rem;
  height: 31.5rem;
}
/* 섹션 4 끝 */
/* 섹션 5 시작 */
.sec-5 {
  width: 100%;
  height: 100%;
  z-index: 6;
}
.sec-5 .sec-5-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
}
.sec-5 .sec-5-wrap {
  position: relative;
}
.sec-5 .sec-5-grid .sec-5-text-con-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
}
.sec-5-grid .sec-5-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 7;
}
.sec-5-grid .sec-5-text-box .sec-5-text-1 {
  white-space: nowrap;
  font-size: 6.4rem;
  font-weight: 700;
  text-align: center;
}
.sec-5-grid .sec-5-text-box .sec-5-text-2 {
  white-space: nowrap;
  font-size: 6.8rem;
  font-weight: 400;
  text-align: center;
}
.sec-5 .sec-5-grid .img-box {
  max-width: var(--maxwidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8rem;
  position: relative;
  z-index: 10;
}
.sec-5-img-left {
  margin-right: auto;
}
.sec-5-img-right {
  margin-left: auto;
}
.sec-5 .sec-5-grid .img-box img {
  object-fit: cover;
  width: 46.5rem;
  height: 40.2rem;
}
.sec-5-grid .button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-5-grid .button-box .button a {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 50;
  border-radius: 4rem;
  overflow: hidden;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 2.6rem 10rem;
  border: 1px solid #fff;
  width: fit-content;
  height: fit-content;
  transition: all 0.5s ease;
}
.sec-5-grid .button-box .button a::before {
  content: "";
  background-color: #fff;
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s ease;
  z-index: -1;
}
.sec-5-grid .button a:hover::before {
  transform: scaleX(1);
}
.sec-5-grid .button a:hover {
  color: #111 !important;
}
/* 섹션 5 끝 */
/* 풋터 시작 */
.footer-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding: 10rem 0;
}
.footer-grid .logo-box {
  width: 28.6rem;
  padding-bottom: 6rem;
}
.footer-grid .text-box {
  display: flex;
  justify-content: space-between;
}
.footer-grid .text-box .left-text-box p {
  font-size: 1.8rem;
  font-weight: 700;
}
.footer-grid .text-box .left-text-box p:nth-child(1) {
  padding-bottom: 1.6rem;
}
.footer-grid .text-box .right-text-box span:nth-child(1) {
  padding-bottom: 0.4rem;
}
.footer-grid .text-box .right-text-box span {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  opacity: 0.8;
}
.footer-grid .text-box .right-text-box span:hover {
  opacity: 1;
}
/* 풋터 끝 */
